body {
	margin-left: 3em;
}

fieldset {
	border: 0;
}

.contact-info {
	display: inline-block;
	width: 30%;
	margin-bottom: 1em;
	padding: 1em;
}

.show-contact {
	display: inline-block;
	width: 40%;
	position: absolute;
	margin-left: 1em;
	padding: 1em;
}

.contact-links {
	width: 50%;
	padding: 1em;
}

.name-list {
	color: blue;
}

.name-list:hover {
	cursor: hand;
	color: darkblue;
}

span {
	color: red;
}

button {
	background-color: cornflowerblue;
	color: white;
	margin-left: 8px;
}